.country-container .column-1 {
    display: inline-block;
    width: 50%;
}
.country-container .column-2 {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.country {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 50%;

}